env: {}
image:
  pullPolicy: IfNotPresent
  repository: xthursdayx/yacreaderlibrary-server-docker
  tag: latest
persistence:
  comics:
    enabled: true
    mountPath: /comics
  config:
    enabled: true
    mountPath: /config
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  main:
    enabled: true
    ports:
      main:
        enabled: true
        port: 8080
        protocol: TCP
        targetPort: 8080
