env:
  RCLONE_CONFIG_PASS: ''
  RCLONE_MOUNT_OPTIONS: ''
  RCLONE_REMOTE_MOUNT: ''
image:
  pullPolicy: IfNotPresent
  repository: tccr.io/truecharts/rclone-mount
  tag: dev
persistence:
  config:
    enabled: true
    mountPath: /config
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  main:
    enabled: false
    ports:
      main:
        enabled: false
