env: {}
image:
  pullPolicy: IfNotPresent
  repository: tccr.io/truecharts/pipework1-1-3
  tag: 1.1.3
persistence: {}
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  main:
    enabled: false
    ports:
      main:
        enabled: false
