env:
  PREFIX: ''
  TOKEN: ''
image:
  pullPolicy: IfNotPresent
  repository: tccr.io/truecharts/red-discordbot
  tag: full
persistence:
  data:
    enabled: true
    mountPath: /data
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  main:
    enabled: false
    ports:
      main:
        enabled: false
