env: {}
image:
  pullPolicy: IfNotPresent
  repository: nocodb/nocodb
  tag: latest
persistence:
  data:
    enabled: true
    mountPath: /usr/app/data/
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  main:
    enabled: true
    ports:
      main:
        enabled: true
        port: 8088
        protocol: TCP
        targetPort: 8080
