env: {}
image:
  pullPolicy: IfNotPresent
  repository: tccr.io/truecharts/factorio
  tag: stable
persistence:
  path:
    enabled: true
    mountPath: /factorio
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  main:
    enabled: true
    ports:
      main:
        enabled: true
        port: 34197
        protocol: UDP
        targetPort: 34197
