env:
  GAME_ID: '897590'
  GAME_PARAMS: ''
  MULTIHOME: ''
  PASSWRD: ''
  USERNAME: ''
  VALIDATE: ''
image:
  pullPolicy: IfNotPresent
  repository: ich777/steamcmd
  tag: memoriesofmars
persistence:
  serverfiles:
    enabled: true
    mountPath: /serverdata/serverfiles
  steamcmd:
    enabled: true
    mountPath: /serverdata/steamcmd
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  beaconport:
    enabled: true
    ports:
      beaconport:
        enabled: true
        port: 15000
        protocol: UDP
        targetPort: 15000
  main:
    enabled: true
    ports:
      main:
        enabled: true
        port: 7777
        protocol: UDP
        targetPort: 7777
