env: {}
image:
  pullPolicy: IfNotPresent
  repository: gregyankovoy/goaccess
  tag: latest
persistence:
  goaccess:
    enabled: true
    mountPath: /opt/log
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  main:
    enabled: true
    ports:
      main:
        enabled: true
        port: 7889
        protocol: TCP
        targetPort: 7889
