env:
  GAME_ID: '232370'
  GAME_NAME: hl2mp
  GAME_PARAMS: -secure +maxplayers 16 +map dm_overwatch
  GAME_PORT: '27015'
  PASSWRD: ''
  USERNAME: ''
  VALIDATE: ''
image:
  pullPolicy: IfNotPresent
  repository: ich777/steamcmd
  tag: hl2dm
persistence:
  serverfiles:
    enabled: true
    mountPath: /serverdata/serverfiles
  steamcmd:
    enabled: true
    mountPath: /serverdata/steamcmd
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  main:
    enabled: true
    ports:
      main:
        enabled: true
        port: 27015
        protocol: UDP
        targetPort: 27015
  tcprcon:
    enabled: true
    ports:
      tcprcon:
        enabled: true
        port: 27015
        protocol: TCP
        targetPort: 27015
