env: {}
image:
  pullPolicy: IfNotPresent
  repository: n1try/mininote
  tag: latest
persistence:
  data:
    enabled: true
    mountPath: /app/data
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  main:
    enabled: true
    ports:
      main:
        enabled: true
        port: 3000
        protocol: TCP
        targetPort: 3000
