env:
  UMASK_SET: '0022'
image:
  pullPolicy: IfNotPresent
  repository: xiovv/go-auto-yt
  tag: stable
persistence:
  config:
    enabled: true
    mountPath: /app/config
  mounteddownloadsfolder:
    enabled: true
    mountPath: /app/downloads
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  main:
    enabled: true
    ports:
      main:
        enabled: true
        port: 9000
        protocol: TCP
        targetPort: 8080
