env: {}
image:
  pullPolicy: IfNotPresent
  repository: tccr.io/truecharts/jellyfin-vue-static
  tag: unstable-static
persistence: {}
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  main:
    enabled: false
    ports:
      main:
        enabled: false
