env: {}
image:
  pullPolicy: IfNotPresent
  repository: hkalexling/mango
  tag: latest
persistence:
  config:
    enabled: true
    mountPath: /root/.config/mango
  data:
    enabled: true
    mountPath: /root/mango
podSecurityContext:
  runAsGroup: 0
  runAsUser: 0
securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false
service:
  main:
    enabled: true
    ports:
      main:
        enabled: true
        port: 9000
        protocol: TCP
        targetPort: 9000
